@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,200&family=Space+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.App {
  text-align: center;
}

.divider-small {
  margin: 0 auto 0 auto;
  width: 75%;
  border-bottom: 1px solid black;
}

/* - Header - */
header {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem 0 0.5rem;
  border-bottom: 4px solid black;
}
.page-title {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 0.5rem 0 0.5rem 1.6rem;
  border: 2px solid black;
  border-radius: 1rem;
}
.page-title h1 {
margin: 0 0.5rem 0 0.5rem;
color: rgb(255, 0, 21);
}
.logo-link {
  text-decoration: none;
}
.page-title img {
  position: absolute;
  width: 4rem;
  top: 0;
  transform: translate(-50%, -5%);
  z-index: -1;
  margin: 0;
}
.side-bar-btn button {
  width: 2rem;
  height: 2.5rem;
  background-color: white;
  border: 1px solid black;
}
.user-widget {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
  height: 3rem;
  background-color: rgb(187, 187, 255);
  border: 1px solid black;
  border-radius: 1.2rem;
}
.user-widget img {
  align-self: center;
  margin: 0 0.6rem 0 0.6rem;
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 50%;
}
.user-widget p {
  font-size: 0.8rem;
  margin: 0 1rem 0 0;
}

/* - Side bar - */
.side-bar {
  position: absolute;
  width: 8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: translateX(-8rem);
  transition: transform 0.2s ease-out;
  background-color: rgb(31, 31, 31, 0.8);
}
.side-bar.active {
  transform: translateX(0);
}
.side-bar button {
  margin: 0.5rem auto 0.5rem auto;
  width: 6rem;
  height: 1.5rem;
  font-weight: 600;
}
.side-bar-btn img {
  width: 100%;
  height: auto;
}

/* - Article Container - */
.sort {
  margin-top: 2rem;
}
.article-container {
  overflow: scroll;
  margin: auto;
  margin-top: 1rem;
  width: 80vw;
  height: 80vh;
  border: 2px solid rgb(163, 163, 163);
  background-color: rgb(192, 192, 192);
}

/* - Article Card - */
.article-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0.2rem 0.5rem 0.2rem;
  padding: 0.1rem;
  text-align: left;
  border: 2px solid rgb(99, 99, 99);
  background-color: rgb(163, 163, 163);
}
.article-card img {
  width: 12rem;
  height: auto;
  margin: 0 0.3rem 0 0.3rem;
}
.article-card .text-content {
  font-size: 1rem;
}
.article-card h4, .article-card h5 {
  margin: 0.25rem;
}
.article-card p {
  margin: 0.25rem;
  font-size: 0.8em;
}
.article-card button {
  margin-left: 0.25rem;
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
}

@media (max-width: 600px) {
  /* article card */
  .article-card img {
    width: 100%;
    height: auto;
  }
  .article-card .text-content {
    font-size: 0.7rem;
  }
  .article-card button {
    width: 5rem;
    font-size: 0.6rem;
  }

  .article-card img {
    max-width: 100%;
    height: auto;
  }

  /* full article */
  .article-content h2, .article-content h5, .article-content h4, .article-content p {
  font-size: 0.8em;
  }

  /* user widget */
  .user-widget {
    background-color: white;
    border: 0;
  }
  .user-widget p {
    display: none;
  }
  .user-widget img {
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 1rem;
  }
  .page-title {
    margin-left: 7rem;
  }
}

/* - Full Article - */
.full-article-container {
  margin-top: 1.5rem;
}
.article-content {
  margin: 1rem;
  font-size: 1rem;
}

/* author and date/votes */
.article-content h5, .article-content h4 {
  display: inline;
  text-align: left;
}
.author-date-upvote-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.3rem auto 0.3rem auto;
  max-width: 50rem;
}
/* all text elements */
.article-content h2, .article-content h5, .article-content h4, .article-content p {
  margin: 0.5rem;
}
/* body */
.article-content p {
  text-align: justify;
  max-width: 50rem;
  margin: 0.5rem auto 0.5rem auto;
}
/* title */
.article-content h2 {
  margin-bottom: 1rem;
}
.upvote-btn {
  display: inline;
  margin: 1rem;
}
.article-content img {
  max-width: 50rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

/* comments */
.comments-container {
  margin: 1.5rem 0.2rem 2rem 0.2rem;
  font-size: 1rem;
}
.new-comment {
  max-width: 50rem;
  margin: 0 auto 1rem auto;
  font-size: 0.8em;
}
.new-comment form {
  width: fit-content;
  height: fit-content;
  margin: 1.5rem auto;
}
.new-comment textarea {
  display: block;
  margin: 1rem;
  resize: none;
}
.comment-list {
  margin: 1.5rem auto 0 auto;
  max-width: 50rem;
  list-style-type: none;
}
.comment {
  
  margin: 0.2rem 0.2rem 1rem 0.2rem;
  font-size: 0.8em;
  text-align: left;
}
.comment span {
  font-weight: 800;
  font-size: 0.8em;
}
.comment h4, .comment h6, .comment p, .comment button {
  margin: 0.5rem 0.2rem 0.5rem 0.2rem;
  font-size: 0.9em;
}
.new-comment, .comment-list, .comment {
  border: 1px solid black;
}
.comment img {
  display: inline;
  object-fit: cover;
  width: 2rem;
  height: 2rem;
  margin: 0.3rem 0.3rem 0rem 0.3rem;
  border: 1px solid black;
  border-radius: 50%;
}
.comment h4 {
  display: inline;
}

.sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem auto 0 auto;
  width: 28rem;
  height: 5rem;
}
.sorting-container {
  display: inline;
  margin: 0.5rem 0.5rem auto 0.5rem;
}